<amp-story-page id="<%= id %>">
  <amp-story-grid-layer template="thirds">
    <div grid-area="upper-third" class="image-overlay center-text">
      <p class="quote__name"><%= card.name %></p>
      <p class="quote__label"><%= card.description %></p>
      <h2 class="card-heading font-xxl"><%= card.topic %></h2>
    </div>
  </amp-story-grid-layer>
</amp-story-page>