<amp-story-page id="<%= id %>">
  <amp-story-grid-layer template="thirds">
    <div grid-area="upper-third" class="image-overlay center-text">
      <h2 class="card-heading font-xxl">GIF Card</h2>
    </div>
  </amp-story-grid-layer>
</amp-story-page>