<amp-story-page id="<%= id %>">
  <% if(card.image.data.file.url){ %>
  <amp-story-grid-layer template="fill">
    <amp-img src="<%= card.image.data.file.url %>"
        width="900" height="1600">
    </amp-img>
  </amp-story-grid-layer>
  <% } %>
  <amp-story-grid-layer template="thirds" class="image-overlay">
    
    <div grid-area="lower-third">
      <h2 class="card-heading font-xxl"><%= card.headline %></h2>
      <p class="card-description font-m"><%= card.description %></p>
    </div>
  </amp-story-grid-layer>
</amp-story-page>