<amp-story-page id="<%= id %>">
  <amp-story-grid-layer template="fill">
    <amp-img src="./img/bg1.jpg"
        width="900" height="1600">
    </amp-img>
  </amp-story-grid-layer>
  <amp-story-grid-layer template="vertical">
    <h1><%= card.headline %></h1>
  </amp-story-grid-layer>
</amp-story-page>